{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true
  },
  "ignorePatterns": [
    "lib",
    "generated-src"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "caughtErrors": "none",
        "ignoreRestSiblings": true,
        "vars": "all",
        "varsIgnorePattern": "^_"
      }
    ],
    "padded-blocks": "off",
    "no-trailing-spaces": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ],
      "plugins": [
        "@typescript-eslint"
      ],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
