{
  "extends": "standard",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "caughtErrors": "none",
        "ignoreRestSiblings": true,
        "vars": "all",
        "varsIgnorePattern": "^_"
      }
    ],
    "padded-blocks": "off",
    "no-trailing-spaces": "off"
  }
}
